body {
    background-image: url("https://coolbackgrounds.io/images/backgrounds/black/black-radial-gradient-bb05ed79.jpg");
    image-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
h1 {
    color: limegreen;
}
h2 {
    color: limegreen;
}
nav a:link, a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
nav a:link:active, a:visited:active {
    color: limegreen;
}
