/* laptop */
body {
    font-family: Arial;
    margin: 0;
    background-color: #fcf4ec;
}
header {
    text-align: center;
    background-color: #caecde;
}
header img {
    width: 200px;
}
nav {
    background-color: grey;
    text-align: left;
    padding: 10px;
}
nav a {
    margin-left: 20px;
    color: white;
}
.main {
    grid-gap: 10px;
    display: grid;
    grid-template-areas:
    'menu main main'
    'menu main main';
}
section article h1 {
    color: orangered;
}
.news {
    margin-left: 50px;
    grid-area: menu;
}
footer {
    padding: 20px;
    background-color: rgb(128,128,128);
    color: white;
}
footer h3 {
    color: white;
}

/* tablet */
@media all and (min-width:724px) and (max-width:1040px) {
    .main {
        grid-template-areas:
        'menu main main'
        'menu main main';
        grid-template-columns:33% 33% 33%;
        display:grid;
    }
    .news {
        margin-left: 5px;
    }
    article p img {
        width: 240px;
    }
}
/* telefoon */
@media all and (max-width: 724px) {
    nav {
        background-color: #fcf4ec;
        margin: 0;
    }
    nav a {
        width: 100%;
        padding: 8px;
        background-color: grey;
        display: block;
        margin-left:-3%;
        margin-top: 1px;
    }
    .navtop {
        margin-top: -2.8%;
    }
    article p img {
        width: 150px;
    }
    .main {
        grid-template-areas:
        'menu'
        'main'
        'main'
        'main'
        'main';
        display: grid;
    }
    .news {
        margin-left: 5px;
    }
    article {
        margin-left:5px;
    }
}