body {
    background-color: rgb(252, 235, 235);
}
.image {
    float: right;
}
form {
    background-color: rgb(252, 235, 235);
}
checkbox {
    float: right;
}
send {
    float: right;
    width: 50%;
}